html, 
body, 
.site {
        width: 100%;
        height: 100%;
        margin: 0;                
      }
	
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #333;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: '3Dumb', sans-serif;
}

/*------------------------------------------------------------ 
Grid Elements-Container 
----------------------------------------------------------- */

.site {
	display: flex;
	flex-direction: column;	
}

.page-title {
   grid-area: t;
   background: #eee;
   padding: 0px 15px;
   display: flex;
   align-items: center;
   flex-shrink: 0;   
}

.sidebar {
   grid-area: s;   
   background: #333;
   padding: 0px 15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   flex-shrink: 0;
}

.sidebar a {
	color: #eee;
	text-decoration: none;
	margin: 0.9em 0em;
}

.sidebar a.active {
        color: lightblue;
}

.sidebar a:hover,
.sidebar a:active {
	color: yellowgreen;
}

.main-content {
   grid-area: m;
   flex-grow: 1;
}

.footer {
   grid-area: f;   
   background: #eee;
   padding: 0px 8px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-shrink: 0;
}

/*--If Grid supported, Display for screens larger than XXem--*/
@supports (display: grid) {
	@media screen and (min-width: 768px) {
		.site {	  		    
		   display: grid;
		   grid-gap: 4px;
		   grid-template-columns: 20% auto;
		   grid-template-rows: 10vh auto 7vh;
		   grid-template-areas:
				"t t"
				"s m"
				"f f";
		}
		.sidebar {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
	}
}

/*--If Grid NOT supported, limit width and center align--*/
@supports not (display: grid) {
  .page-title,
  .main-content,
  .sidebar {
		max-width: 50em;
		margin: 0 auto;
	}
}

.table-wrapper {
}

table {
  width: 95%;
  margin: 0.6em auto;
}

td, th {
  border: 1px solid #ccc;
  text-align: center;  
}

th {  
  background: lightblue;
  border-color: white;
  text-transform: capitalize;
}

th#row_label {
  text-align: left;
}

td {
}

td#control {
  padding: 0.3em;
  border: none;
  display: flex;
  justify-content:space-around;
}

button {
	color: #333;
	  
}

button:hover,
button:active {
	background: lightblue;
	color:white;
	border-color:lightblue;
}

/* xs < 768 */ 
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */ 
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */ 
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}


